* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    
}

body {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(241, 153, 112)) ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

hr {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    opacity:0.2 ;
}

h1 {
    margin-top:50px
}

.center {
    display: block;
}

#home {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#home h1 {
    margin:10px;
    padding:5px 10px;
}
/* --------------------- Top To Home -------------------- */

#top {
    display:inline-block;
    background-color: #3f3d3d5d;
    padding: 15px;
    font-size:larger;
    border-radius: 8px;
    position:fixed;
    bottom:30px;
    right:30px;
}

 /* ----------------------- Header ---------------------- */
header {
    background-image: linear-gradient( rgba(241, 153, 112, 0.473), rgb(255, 255, 255)) ;
    padding: 10px;
    padding-bottom: 20px;
}

header > h1 {
    text-align: center;
}


/* --------------------- Navigation --------------------- */

nav {
    display: flex;
    justify-content: flex-start;
    background-color: #ff7a4e;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 60px rgba(68, 65, 65, 0.322);
}

a {
    text-decoration: none;
    text-align: center;
    padding: 15px 0px;
    font-size: 17px;
    flex-basis: 150px;
    color: rgb(32, 31, 31);
}

nav > a:hover {
    background-color: #3f3d3d;
    color: white;
    text-decoration:none;

}

/* ------------------------ Diwali Wish ------------------------ */
.wish {
    width: 90%;
    margin: 70px auto;
    display: flex;
    justify-content:center;
    align-items: center;
}

.wish > img {
    width: 40%;
}

/* -------------------- Diwali Quotes ------------------- */
.container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
    
}

.items{
    background-color: rgb(230, 233, 235);
    border-radius: 12px;
    width: 250px;
    height: 300px;
    padding: 20px;
    text-align: center;
    border: 1px solid rgba(112, 110, 110, 0.171) ;
    overflow: auto;
    margin: 15px;
}

.items:hover {
    box-shadow: 10px 10px 30px #ff7a4e ;

}
/* ------------------- Diwali Pictures ------------------ */
.container2 {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

.pics {
    width: 300px;
    margin: 20px;
    border-radius: 10px;
}

.pics:hover {
    box-shadow: 10px 10px 30px #ff7a4e ;

}

/* ----------------------- Others ----------------------- */
h1 {
    text-align: center;
}

/* -------------------- Footer ------------------- */

footer {
    text-align: center;
    background-color: #3f3d3d;
    color: white;
    padding: 20px 0;
}

/* -------------------- Media Queries ------------------- */

@media screen and (max-width: 480px) {
    nav {
        flex-direction: column;
        position: relative;
    }

    a {
        flex-basis: 50px;
    }
}